services:
  iventoy:
    image: garybowers/iventoy:1.0.20-6
    container_name: iventoy
    restart: unless-stopped
    networks:
      - proxynet
    privileged: true
    environment:
      TZ: ${TZ}
    volumes:
      - ${DOCKER_BASE_PATH}/iventoy/iso:/iventoy/iso
      - ${DOCKER_BASE_PATH}/iventoy/data:/iventoy/data
      - ${DOCKER_BASE_PATH}/iventoy/log:/iventoy/log
    # iVentoy requires direct port access for PXE/TFTP/HTTP boot services
    ports:
      - 26000:26000
      - 16000:16000
      - 10809:10809
      - 69:69/udp

networks:
  proxynet:
    external: true
