services:
  plex:
    image: plexinc/pms-docker:1.43.0.10492-121068a07
    container_name: plex
    restart: unless-stopped
    # Uses host network for Plex server discovery and DLNA
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      PLEX_CLAIM: ${PLEX_CLAIM}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ${DOCKER_BASE_PATH}/plex/config:/config
      - ${MEDIA_PATH}/Videos:/shares/videos
      - ${MEDIA_PATH}/Music:/shares/music
      - ${MEDIA_PATH}/Pictures:/shares/photos
      - ${DOCKER_BASE_PATH}/plex/transcode:/transcode
      - ${MEDIA_PATH}:/data
