# Common
DOCKER_BASE_PATH=/docker
PUID=1000
PGID=1000
TZ=America/Los_Angeles
TRAEFIK_BASE_DOMAIN=example.com

# Gitea Database
GITEA_DB_NAME=gitea
GITEA_DB_USER=gitea
GITEA_DB_PASSWORD=your_secure_db_password_here
