services:
  homarr:
    image: ghcr.io/homarr-labs/homarr:v1.43.3
    container_name: homarr
    restart: unless-stopped
    networks:
      - proxynet
    volumes:
      # Optional, only if you want docker integration
      - /var/run/docker.sock:/var/run/docker.sock
      - ${DOCKER_BASE_PATH}/homarr/appdata:/appdata
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      SECRET_ENCRYPTION_KEY: ${SECRET_ENCRYPTION_KEY}
    labels:
      - traefik.enable=true
      - traefik.http.services.homarr.loadbalancer.server.port=7575
      - traefik.http.routers.homarr.rule=Host(`homarr.${TRAEFIK_BASE_DOMAIN}`)
      - traefik.http.routers.homarr.entrypoints=websecure
      - traefik.http.routers.homarr.tls=true
      - traefik.http.routers.homarr.tls.certresolver=cloudns

networks:
  proxynet:
    external: true
