services:
  metube:
    image: ghcr.io/alexta69/metube:2025.11.16
    container_name: metube
    restart: unless-stopped
    networks:
      - proxynet
    volumes:
      - ${MEDIA_PATH}/Videos/converted:/downloads
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      UMASK: ${UMASK}
      OUTPUT_TEMPLATE: ${OUTPUT_TEMPLATE}
      YTDL_OPTIONS: ${YTDL_OPTIONS}
    labels:
      - traefik.enable=true
      - traefik.http.services.metube.loadbalancer.server.port=8081
      - traefik.http.routers.metube.rule=Host(`metube.${TRAEFIK_BASE_DOMAIN}`)
      - traefik.http.routers.metube.entrypoints=websecure
      - traefik.http.routers.metube.tls=true
      - traefik.http.routers.metube.tls.certresolver=cloudns

networks:
  proxynet:
    external: true
