services:
  watchtower:
    image: nickfedor/watchtower:1.14.0
    container_name: watchtower
    restart: unless-stopped
    networks:
      - proxynet
    environment:
      TZ: ${TZ}
      WATCHTOWER_CLEANUP: ${WATCHTOWER_CLEANUP}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

networks:
  proxynet:
    external: true
