services:
  beszel:
    image: ghcr.io/henrygd/beszel/beszel:0.16.1
    container_name: beszel
    restart: unless-stopped
    networks:
      - proxynet
    volumes:
      - ${DOCKER_BASE_PATH}/beszel/data:/beszel_data
      - ${DOCKER_BASE_PATH}/beszel/socket:/beszel_socket
    environment:
      APP_URL: https://beszel.${TRAEFIK_BASE_DOMAIN}
    labels:
      - traefik.enable=true
      - traefik.http.services.beszel.loadbalancer.server.port=8090
      - traefik.http.routers.beszel.rule=Host(`beszel.${TRAEFIK_BASE_DOMAIN}`)
      - traefik.http.routers.beszel.entrypoints=websecure
      - traefik.http.routers.beszel.tls=true
      - traefik.http.routers.beszel.tls.certresolver=cloudns

  beszel-agent:
    image: ghcr.io/henrygd/beszel/beszel-agent-intel:0.16.1
    container_name: beszel-agent
    restart: unless-stopped
    network_mode: host
    cap_add:
      - CAP_PERFMON
      - CAP_SYS_ADMIN
      - CAP_DAC_OVERRIDE
    security_opt:
      - apparmor:unconfined
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - ${DOCKER_BASE_PATH}/beszel/socket:/beszel_socket
      - ${DOCKER_BASE_PATH}/beszel/agent_data:/var/lib/beszel-agent
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro
      # Monitor other disks/partitions by mounting a folder in
      # /extra-filesystems
      # - /mnt/disk/.beszel:/extra-filesystems/sda1:ro
    environment:
      LISTEN: /beszel_socket/beszel.sock
      # Do not remove quotes around the key
      KEY: '${BESZEL_PUBLIC_KEY}'
      # Optional: Exclude containers from monitoring
      # (comma-separated glob patterns)
      # EXCLUDE_CONTAINERS: ${EXCLUDE_CONTAINERS:-}
      # Optional: Control access to container logs and info APIs
      # (default: true)
      # CONTAINER_DETAILS: ${CONTAINER_DETAILS:-true}
      # Optional: Specify Intel GPU device for monitoring
      # INTEL_GPU_DEVICE: ${INTEL_GPU_DEVICE:-}

networks:
  proxynet:
    external: true
