---
services:
  kasm:
    image: lscr.io/linuxserver/kasm:1.18.0
    container_name: kasm
    privileged: true
    restart: unless-stopped
    environment:
      - KASM_PORT=${KASM_PORT}
      - DOCKER_HUB_USERNAME=${DOCKER_HUB_USERNAME}
      - DOCKER_HUB_PASSWORD=${DOCKER_HUB_PASSWORD}
      - DOCKER_MTU=${DOCKER_MTU:-1500}
    volumes:
      - ${DOCKER_BASE_PATH}/kasm/opt:/opt
      - ${DOCKER_BASE_PATH}/kasm/profiles:/profiles
    devices:
      - /dev/dri:/dev/dri
    ports:
      - ${KASM_SETUP_PORT:-3000}:3000
      - ${KASM_PORT}:${KASM_PORT}
    labels:
      - traefik.enable=true
      # Main Kasm interface
      - traefik.http.services.kasm.loadbalancer.server.port=${KASM_PORT}
      - traefik.http.services.kasm.loadbalancer.server.scheme=https
      - traefik.http.routers.kasm.rule=Host(`kasm.${TRAEFIK_BASE_DOMAIN}`)
      - traefik.http.routers.kasm.entrypoints=websecure
      - traefik.http.routers.kasm.tls=true
      - traefik.http.routers.kasm.tls.certresolver=cloudns
      - traefik.http.routers.kasm.service=kasm
      # Setup wizard (temporary)
      - traefik.http.services.kasm-setup.loadbalancer.server.port=3000
      - traefik.http.services.kasm-setup.loadbalancer.server.scheme=https
      - traefik.http.routers.kasm-setup.rule=Host(`kasm-setup.${TRAEFIK_BASE_DOMAIN}`)
      - traefik.http.routers.kasm-setup.entrypoints=websecure
      - traefik.http.routers.kasm-setup.tls=true
      - traefik.http.routers.kasm-setup.tls.certresolver=cloudns
      - traefik.http.routers.kasm-setup.service=kasm-setup
    networks:
      - proxynet
      - default

networks:
  proxynet:
    external: true
