---
global:
  checkNewVersion: false
  sendAnonymousUsage: false

# Log levels: TRACE, DEBUG, INFO, WARN, ERROR, FATAL
# Use INFO for production, DEBUG for troubleshooting
log:
  filePath: "/logs/traefik.log"
  level: INFO

accessLog:
  filePath: "/logs/access.log"
  bufferingSize: 100
  filters:
    statusCodes:
      - "204-299"
      - "400-499"
      - "500-599"


# Enable API and Dashboard here, don't do in production
api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: :443
    http3: true
  traefik:
    address: :8080

certificatesResolvers:
  cloudns:
    acme:
      storage: /var/traefik/certs/cloudns-acme.json
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      dnsChallenge:
        provider: cloudns
        resolvers:
          - "8.8.8.8:53"
          - "8.8.4.4:53"

serversTransport:
  insecureSkipVerify: true

providers:
  docker:
    exposedByDefault: false
    network: proxynet
  file:
    directory: /etc/traefik/dynamic
    watch: true
