services:
  code-server-ts:
    image: ghcr.io/tailscale/tailscale:v1.90.9
    hostname: code-server
    container_name: code-server-ts
    restart: unless-stopped
    environment:
      TS_AUTHKEY: ${TS_AUTHKEY}
      TS_EXTRA_ARGS: ${TS_EXTRA_ARGS}
      TS_SERVE_CONFIG: ${TS_SERVE_CONFIG}
      TS_SOCKET: ${TS_SOCKET}
      TS_STATE_DIR: ${TS_STATE_DIR}
      TS_USERSPACE: ${TS_USERSPACE}
    volumes:
      - ${DOCKER_BASE_PATH}/code-server/tailscale/config:/config
      - ${DOCKER_BASE_PATH}/code-server/tailscale/var/lib/tailscale:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module

  code-server:
    image: lscr.io/linuxserver/code-server:4.106.2
    container_name: code-server
    restart: unless-stopped
    network_mode: service:code-server-ts
    depends_on:
      - code-server-ts
    environment:
      PUID: ${PUID}
      PGID: ${PGID}
      TZ: ${TZ}
      PASSWORD: ${PASSWORD}
      SUDO_PASSWORD: ${SUDO_PASSWORD}
      DEFAULT_WORKSPACE: ${DEFAULT_WORKSPACE}
      DOCKER_MODS: >-
        linuxserver/mods:code-server-powershell|
        linuxserver/mods:universal-docker|
        linuxserver/mods:code-server-awscli|
        linuxserver/mods:code-server-terraform|
        linuxserver/mods:code-server-python3|
        linuxserver/mods:universal-package-install
      INSTALL_PACKAGES: >-
        acl|apt-transport-https|direnv|gpg|make|
        software-properties-common|vim|wget|unzip|clang|git
    volumes:
      - ${DOCKER_BASE_PATH}/code-server:/config
      - ./custom-cont-init.d:/custom-cont-init.d:ro
      - /var/run/docker.sock:/var/run/docker.sock
